# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/

# Linux
*.swp

# Environment variables
.env

# Logs
*.log

# DBeaver
.dbeaver/

# Flask
instance/
.webassets-cache

# System files
.DS_Store